@tailwind base;
@tailwind components;
@tailwind utilities;
@source "../views";

.navbar-fixed {
    @apply fixed top-0 left-0 w-full transition duration-300;
}

.hamburger-active span:nth-child(1) {
    transform: rotate(45deg) translateY(8px);
}

.hamburger-active span:nth-child(2) {
    opacity: 0;
}

.hamburger-active span:nth-child(3) {
    transform: rotate(-45deg) translateY(-8px);
}
/* Red theme */
[data-theme="red"] {
  --color-navbar: #dc2626;
  --color-second: #fef2f2;
  --color-tombol: #991b1b;
  --color-back: #fee2e2;
}
  
    